[submodule "libs/limhamn"]
	path = libs/limhamn
	url = https://github.com/jacnils/limhamn
[submodule "libs/libbcrypt"]
	path = libs/libbcrypt
	url = https://github.com/trusch/libbcrypt
[submodule "libs/maddy"]
	path = libs/maddy
	url = https://github.com/progsource/maddy
